//- -----------------------------------------------------------------------------
//- This file contains all application-wide Pug variables.
//- -----------------------------------------------------------------------------

//- global head configurations
//- @prop {String} keys - meta tag name
//- @prop {Object} values - meta tag content
-
  const globalHeadProps = {
    author: "Deluxateer",
    faviconPath: "./favicon.ico",
    themeColor: "#000",
  };

//- base url for assets (in dist)
//- @type String
- const baseURL = './';
